.main-wrapper{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header{
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #0054A6;
}

.title{
    margin-top: 1rem;
    font-size: 32px;
    padding: .5em;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.date-wrapper{
    width: 30%;
}

.buffer{
    flex: .35;
}

.header-heading{
    flex: 2;
    height: 53px;
    width: 132px;
    background-image: url("./assets/logo.png");
    background-size: contain;
    background-position: flex-start;
    background-repeat: no-repeat;
}

.accordion-body{
    width: 70%;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-item{
    border-radius: 10px;
    border: none;
    background-color: #F5F5F5;
}

.accordion-button[aria-expanded=false]:hover{
    background-color: #0161C0;
}
.accordion-button[aria-expanded=true]:hover{
    background-color: #0161C0;
}

.accordion-item:hover{
    transition: none;
}

.top-box{
    display: flex;
    justify-content: space-between;
}

.check{
    margin-right: 1rem;
    min-width: 120px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: .5em;

}

.inner-box{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-top: .5em;
    height: 80%;
}

.table-header{
    background-color: #FFFFFF;
    display: flex;
    padding: .5em;
    border-bottom: 1px solid #D9D9D9;   
}

.table-content{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: .5em;
    padding: .5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-content::-webkit-scrollbar{
    width: .5em;
}

.table-line{
    display: flex;
    padding: .3em;
    max-height: 70px;
}

.table-line input{
    width: 16px;
    height: 16px;
}

.line-produto{
    border-bottom: .5px solid #D9D9D9;
}

.line-produto:last-child{
    border-bottom: none;
}

.search-wrapper input{
    height: 38px;  
}

.select-wrapper{
    display: flex;
    position: relative;
    align-items: center;  
    gap: .5em;
    align-items: center;
    flex: 1;
}

.select-option{
    background-color: #0054A6;
    display: flex;

    width: 100%;
    background-color: #FFFFFF;
    border: solid 1px #0054A6;
    border-radius: 10px;
    min-height: 38px;
}

.teste{
    display: flex;
    flex: 1;
}

.teste option{
    margin-left: 5px;
}

.selected-top{
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    padding: 1em;
}

.selected-content{
    min-height: 300px;
    max-height: 300px;
    background-color: #FFFFFF;
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.selected-line{
    padding: .5em;
    display: flex;
    justify-content: space-evenly;
}

.span-loja{
    flex: .3;
}
.span-filial{
    flex: 1;
}
.span-uf{
    flex: .2;
}

.selected-remove {
    flex: .2;
}

.summary-top-box{
    display: flex;
    width: 100%;
    overflow-y: hidden;
}

.summary-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.summary-store{
    flex: 1;
}

.summary-products {
    flex: 1;
}

.summary-dates{
    display: flex;
    height: 50px;
}